<!doctype html>
<html lang="en">
  <%= render "page-head" %>
    <body>
      <div id="fb-root"></div>
      <div class="warning">This page can only be viewed in Portrait Orientation</div>
      <div class="big-page"></div>

      <%= render "sharebox" %>
      <%= render "thumb-nav" %>

      <section role="main">
        <header>
          <h1><%= @title %></h1>
        </header>
        <%= yield %>
      </section>
      <footer>
        <%= render "app-menu" %>
      </footer>
    </body>
    <script>
    // thumbnail carousel
      $(window).load(function() {
        $("#thumb-nav").flexisel();
      });
    </script>
    
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=265323653621134";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</html>
